body {
  background: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
}

.blinking {
  animation: mymove 1s infinite alternate;
  color: blueviolet;
}

@keyframes mymove {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

